<div class="container">
    <div class="card" style="padding: 10px; margin-top: 50px;">
        <div class="card-header" style="margin: -10px; margin-bottom: 10px;">
            Osoba
        </div>
    <form (ngSubmit) = 'sprawdzanie()'>
        
        <div class="mb-3">
            <label for="imie">Imię:</label>
            <input type="text" id="imie" class="form-control" [(ngModel)]="imie" name="imie">
        </div>
        <div class="mb-3">
            <label for="nazwisko">Nazwisko:</label>
            <input type="text" id="nazwisko" class="form-control" [(ngModel)]="nazwisko" name="nazwisko">
        </div>
        <div class="mb-3">
            <label for="wiek">Wiek:</label>
            <input type="number" id="wiek" min="0" class="form-control" [(ngModel)]="wiek" name="wiek">
        </div>
    <button type="submit" class="btn btn-primary"> Sprawdź </button>
    </form>
</div>
    <p *ngIf="wynik !== null" style="text-align: center;"><br>{{ wynik }}</p>
</div>